$primary-color       : #313131 !default;
$secondary-color     : #666 !default;
$hover-color         : #c08826 !default;
$hover-link-color    : #666 !default;
$white               : #fff !default;
$light-gray          : #f6f6f6 !default;

$base-padding        : 15px !default;
$base-margin         : 15px !default;
$base-transition     : all .2s ease !default;

$font-size-standard  : 14px !default;
$font-size-small     : 12px !default;
$font-size-gallery   : 10px !default;

$line-height-standard: 24px !default;
