@import 'modules/variables';

@import 'modules/loader';
@import 'modules/transition';

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif, Arial;
    font-size: $font-size-standard;
    line-height: $line-height-standard;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: $base-margin;
        color: $primary-color;
    }

    h1 {
        line-height: 34px;
    }

    p {
        margin-top: 0;
        margin-bottom: $base-margin;
    }

    figure {
        margin: 0;
    }

    img { 
        max-width: 100%;
        height: auto;
        display: block;
    }

    iframe {
        max-width: 100%;
        display: block;
    }

    .heading {
        background-color: $white;
        margin-bottom: 0;
        display: inline-block;
        padding-right: $base-padding;
        text-transform: uppercase;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 2px;
            background-color: $hover-color;
            z-index: -1;
        }
    }

    .container {
        max-width: 800px;
        margin: 0px auto $base-margin * 2;
        position: relative;
    }

    .header {
        background-color: $primary-color;
        padding: $base-padding;
        margin-bottom: $base-margin * 2;
        border-bottom: 2px solid $hover-color;

        &__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0;
        }
        
        &__logo {
            max-width: 48px;
        }

        &__link {
            color: $secondary-color;

            &:hover {
                color: $hover-color;
            }

            &--logo {
                max-height: 48px;
                margin-right: $base-margin;
            }
        }
    }

    .settings {
        padding-bottom: $base-padding;
        margin-bottom: $base-margin;
        border-bottom: 2px solid $hover-color;

        &__row {
            display: flex;
            justify-content: flex-end;
        }

        &__text {
            margin-right: $base-margin;
            margin-left: $base-margin;
        }
    }

    .page {
        &__handler {
            position: relative;
            margin-bottom: $base-margin;
        }
    }

    .pager {
        text-align: center;
    }

    .posts {
        margin-bottom: $base-margin * 2;
        
        &__post {
            padding: $base-margin;

            &:nth-child(odd) {
                background-color: $white;
            }

            &:nth-child(even) {
                background-color: $light-gray;
            }
        }

        &__title {
            transition: $base-transition;

            &:hover {
                color: $hover-color;
            }
        }
    }

    .post {
        &__content {
            overflow: hidden;
        }
    }

    .footer {
        background-color: $primary-color;
        color: $secondary-color;
        padding: $base-padding;

        &__wrapper { 
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0;
        }
    }

    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;

        &__item {
            margin-right: $base-margin;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    a,
    .link {
        text-decoration: none;
        transition: $base-transition;
        color: $hover-color;

        &:hover {
            text-decoration: none;
            color: $hover-link-color;
        }
    }
    
    .gallery {
        width: 100%;

        img {
            height: auto;
            margin: 0 auto;
        }
    }

    .tiled-gallery {
        clear: both;
        margin: 0 0 $base-margin;
        overflow: hidden;

        &-item {
            float: left;
            margin: 0;
            position: relative;
            width: inherit;

            img {
                background: 0 0;
                border: 0;
                box-shadow: none;
                max-width: 100%;
                padding: 0;
                vertical-align: middle;
            }
        }

        &-caption {
            position: absolute;
            background-color: rgba($white, 0.6);
            color: $secondary-color;
            padding: 5px;
            width: 100%;
            bottom: 0;
            left: 0;
            font-size: $font-size-gallery;
        }

        .gallery-row {
            overflow: hidden;
        }

        .gallery-group {
            float: left;
            position: relative;
        }
    }
}