@import 'modules/variables';

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif, Arial;
    font-size: $font-size-standard;
    line-height: $line-height-standard;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: $base-margin;
    }

    p {
        margin-top: 0;
        margin-bottom: $base-margin;
    }

    .container {
        max-width: 800px;
        margin: 0px auto $base-margin * 2;
        position: relative;
    }

    .header {
        background-color: $primary-color;
        padding: $base-padding;
        margin-bottom: $base-margin * 2;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__logo {
            max-width: 48px;
            margin-right: $base-margin;
        }

        &__link {
            color: $secondary-color;

            &:hover {
                color: $hover-color;
            }
        }
    }

    .footer {
        background-color: $primary-color;
        color: $secondary-color;
        padding: $base-padding;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;

        &__item {
            margin-right: $base-margin;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .link {
        text-decoration: none;
        transition: $base-transition;

        &:hover {
            text-decoration: none;
        }
    }

    .tiled-gallery {
        clear: both;
        margin: 0 0 $base-margin;
        overflow: hidden;

        &-item {
            float: left;
            margin: 0;
            position: relative;
            width: inherit;

            img {
                background: 0 0;
                border: 0;
                box-shadow: none;
                max-width: 100%;
                padding: 0;
                vertical-align: middle;
            }
        }

        &-caption {
            position: absolute;
            background: rgba($white, 0.6);
            color: $secondary-color;
            padding: 5px;
            width: 100%;
            bottom: 0;
            left: 0;
            font-size: $font-size-gallery;
        }

        .gallery-row {
            overflow: hidden;
        }

        .gallery-group {
            float: left;
            position: relative;
        }
    }
}
